<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${user.name} + '\'s User Profile'"></title>
</head>
<body>
	<p>Back to <a href="/index">Top page</a></p>
	<h1 th:text="${user.name} + '\'s User Profile'"></h1>
	<hr/>
	<p th:utext="'<a href=\'/users/' + ${user.id} + '/followings\'>'+ ${following} + ' Following</a>　<a href=\'/users/' + ${user.id} + '/followers\'>' + ${followed} + ' Followers</a>'"></p>
	<th:block th:if="${follow_or_edit_button == 0}">
		<p th:utext="'<a href=\'/users/profile/edit\'>ユーザーを編集する</a>' "></p>
	</th:block>
	<th:block th:if="${follow_or_edit_button == 1}">
		<p th:utext="'<a href=\'/users/' + ${user.id} + '/follow\'>フォロー</a>'"></p>
	</th:block>
	<th:block th:if="${follow_or_edit_button == 2}">
		<p th:utext="'<a href=\'/users/' + ${user.id} + '/unfollow\'>フォロー解除</a>'"></p>
	</th:block>
	<p th:text="${user.old} + ' Years Old'"></p>
	<hr/>
	<th:block th:if="${tweets.size() == 0}">
		<p>ツイートは存在しません。</p>
	</th:block>
	<th:block th:if="${tweets.size() != 0}">
		<div th:each="tweet : ${tweets}">
			<h6 th:utext="'ツイートID : ' + ${tweet.id} + ' : <a href=\'/users/' + ${tweet.user_id} + '\'>' + ${user.name} + '</a>さんのツイート'"></h6>
			<p>
				<a th:text="${tweet.text}" th:href="'/tweets/' + ${tweet.id}"></a>
			</p>
			<h6>
				<small th:text="${tweet.created_at}"></small>
			</h6>
			<hr/>
		</div>
	</th:block>
</body>
</html>