<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Top Page</title>
</head>
<body>
	<h1>Hello This is the Top Page.</h1>
	<hr/>
	<form action="/tweets/create" method="post">
		<input type="text" name="tweet" style="width:400px; height:100px;" placeholder="ツイートを入力してください。"/>
		<input type="hidden" name="csrf_key" th:value="${csrf_key}">
		<br/>
		<input type="submit" value="ツイートする">
	</form>
	<p>Go to <a href="/users">User Profiles</a></p>
	<hr/>
	<div th:each="tweet : ${tweets}">
		<div>
			<h6 th:utext="'ツイートID : ' + ${tweet.id} + ' : <a href=\'/users/' + ${tweet.user_id} + '\'>' + ${tweet.user_name} + '</a>さんのツイート'"></h6>
			<p>
				<a th:href="'/tweets/' + ${tweet.id}" th:text="${tweet.text}"></a>
			</p>
			<h6>
				<small th:text="${tweet.created_at}"></small>
			</h6>
			<hr/>
		</div>
	</div>
</body>
</html>